@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Prevent scrollbars on board pages */
body:has(.konvajs-content) {
  overflow: hidden;
}

/* Disable context menu on canvas */
.konvajs-content {
  -webkit-user-select: none;
  user-select: none;
}
